.foreground_container {
	margin-top: 100px;
}

.title {
	text-align: center;
}

.title img{
	width: 400px;
	height: auto;
}

.enter_name {
	margin-top: 50px;
	text-align: center;
}

.players_list {
	border-radius: 10px;
	height: 200px;
	width: 400px;
	background-color: white;
	margin: auto;
	margin-top: 50px;
	opacity: 0.5;
}

.players_list_title {
	text-align: center;
	padding: 7px;
}

.row {
	text-align: center;
}
