<html>
  <head>
    <title>Dwarves of Arcadia</title>
    <link rel="stylesheet" href="../styles/game.css">
  </head>
  <body>
    <div class="opponent-row row">
      <!-- not sure if this is supposed to be repeated by angular; i'll put one here as placeholder -->
      <div class="player-info-sheet" id="opponent-1">
        <div class="player-name-container">
          <div class="player-name">stubname</div>
        </div>
        <div class="tier1-resources-container">
          <div class="resource-info">
            <div class="resource-icon-wood">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
          <div class="resource-info iron">
            <div class="resource-icon-iron">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
          <div class="resource-info gold">
            <div class="resource-icon-gold">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
        </div>
        <div class="tier1-generator-container">
          <div class="generator-tier1">
            <div class="wood-mill">
              
            </div>
            <div class="generator-quantity wood-mill">
              0
            </div>
          </div>
          <div class="generator-tier1">
            <div class="iron-forge">
              
            </div>
            <div class="generator-quantity iron-forge">
              1
            </div>            
          </div>
          <div class="generator-tier1">
            <div class="gold-mine">
              
            </div>
            <div class="generator-quantity gold-mine">
              0
            </div>           
          </div>
        </div>

        <div class="tier2-resources-container">
          <div class="resource-info lumber">
            <div class="resource-icon-lumber">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
          <div class="resource-info mithril">
            <div class="resource-icon-mithril">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
          <div class="resource-info treasure">
            <div class="resource-icon-treasure">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
        </div>
        <div class="tier1-generator-container">
          <div class="generator-tier2">
            <div class="lumber-mill">
              
            </div>
            <div class="generator-quantity lumber-mill">
              0
            </div>
          </div>
          <div class="generator-tier2"> 
            <div class="mithril-forge">
              
            </div>
            <div class="generator-quantity mithril-forge">
              0
            </div>
          </div>
          <div class="generator-tier2">
            <div class="treasure-mine">
              
            </div>
            <div class="generator-quantity treasure-mine">
              2
            </div>
          </div>
        </div>
      </div><div class="player-info-sheet" id="opponent-2">
        <div class="player-name-container">
          <div class="player-name">stubname2</div>
        </div>
        <div class="tier1-resources-container">
          <div class="resource-info wood">
            <div class="resource-icon-wood">
            </div>

            <div class="resource-quantity">
              1
            </div>
          </div>
          <div class="resource-info iron">
            <div class="resource-icon-iron">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
          <div class="resource-info gold">
            <div class="resource-icon-gold">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
        </div>
        <div class="tier1-generator-container">
          <div class="generator-tier1">
            <div class="wood-mill">
              
            </div>
            <div class="generator-quantity wood-mill">
              1
            </div>
          </div>
          <div class="generator-tier1">
            <div class="iron-forge">
              
            </div>
            <div class="generator-quantity iron-forge">
              2
            </div>            
          </div>
          <div class="generator-tier1">
            <div class="gold-mine">
              
            </div>
            <div class="generator-quantity gold-mine">
              0
            </div>           
          </div>
        </div>
        <div class="tier2-resources-container">
          <div class="resource-info lumber">
            <div class="resource-icon-lumber">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
          <div class="resource-info mithril">
            <div class="resource-icon-mithril">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
          <div class="resource-info treasure">
            <div class="resource-icon-treasure">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
        </div>
        <div class="tier1-generator-container">
          <div class="generator-tier2">
            <div class="lumber-mill">
              
            </div>
            <div class="generator-quantity lumber-mill">
              0
            </div>
          </div>
          <div class="generator-tier2"> 
            <div class="mithril-forge">
              
            </div>
            <div class="generator-quantity mithril-forge">
              0
            </div>
          </div>
          <div class="generator-tier2">
            <div class="treasure-mine">
              
            </div>
            <div class="generator-quantity treasure-mine">
              1
            </div>
          </div>
        </div>
      </div><div class="player-info-sheet" id="opponent-3">
        <div class="player-name-container">
          <div class="player-name">stubname3</div>
        </div>
        <div class="tier1-resources-container">
          <div class="resource-info wood">
            <div class="resource-icon-wood">
            </div>

            <div class="resource-quantity">
              1
            </div>
          </div>
          <div class="resource-info iron">
            <div class="resource-icon-iron">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
          <div class="resource-info gold">
            <div class="resource-icon-gold">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
        </div>
        <div class="tier1-generator-container">
          <div class="generator-tier1">
            <div class="wood-mill">
              
            </div>
            <div class="generator-quantity wood-mill">
              1
            </div>
          </div>
          <div class="generator-tier1">
            <div class="iron-forge">
              
            </div>
            <div class="generator-quantity iron-forge">
              2
            </div>            
          </div>
          <div class="generator-tier1">
            <div class="gold-mine">
              
            </div>
            <div class="generator-quantity gold-mine">
              1
            </div>           
          </div>
        </div>
        <div class="tier2-resources-container">
          <div class="resource-info lumber">
            <div class="resource-icon-lumber">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
          <div class="resource-info mithril">
            <div class="resource-icon-mithril">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
          <div class="resource-info treasure">
            <div class="resource-icon-treasure">
            </div>
            <div class="resource-quantity">
              1
            </div>
          </div>
        </div>
        <div class="tier1-generator-container">
          <div class="generator-tier2"> 
            <div class="lumber-mill">
              
            </div>
            <div class="generator-quantity lumber-mill">
              0
            </div>
          </div>
          <div class="generator-tier2"> 
            <div class="mithril-forge">
              
            </div>
            <div class="generator-quantity mithril-forge">
              1
            </div>
          </div>
          <div class="generator-tier2">
            <div class="treasure-mine">
              
            </div>
            <div class="generator-quantity treasure-mine">
              0
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="main-game-info-container">
        <img src="images/newspaper.png">
        <div class="tradeEvents">
          <div ng-show="userAction === 'tradeOneOne'" class="tradeEvent tradeOneOnOne">
            <div class="tradeEventTitle">
              <h3>Trade - 1 on 1</h3>
            </div>
            <div class="tradeWithRow">
              Trade with: <button class="tradeTargetOpponent1">Opponent 1</button>
              <button class="tradeTargetOpponent2">Opponent 2</button>
              <button class="tradeTargetOpponent3">Opponent 3</button>
            </div>
            <div class="resourcesToTrade">
              <div class="resourcesSlot">
                
              </div>
              <div class="resourcesSlot">
                
              </div>
              <div class="resourcesSlot">
                
              </div>
              For
              <div class="resourcesSlot">
                
              </div>
              <div class="resourcesSlot">
                
              </div>
              <div class="resourcesSlot">
                
              </div>
            </div>
          </div>
          <div ng-show="userAction === 'tradeGlobal'" class="tradeEvent tradeGlobal">
            <div class="tradeEventTitle">
              <h3>Trade - Global</h3>
            </div>
            <div class="tradeWithRow">
              Trade with: <em>The fastest person to agree to your trade!</em>
            </div>
            <div class="resourcesToTrade">
              <div class="resourcesSlot">
                
              </div>
              <div class="resourcesSlot">
                
              </div>
              <div class="resourcesSlot">
                
              </div>
              For
              <div class="resourcesSlot">
                
              </div>
              <div class="resourcesSlot">
                
              </div>
              <div class="resourcesSlot">
                
              </div>
            </div>
          </div>
          <div ng-show="userAction === 'tradeBank'" class="tradeEvent tradeBank">
            <div class="tradeEventTitle">
              <h3>Trade - Bank</h3>
            </div>
            <div class="tradeWithRow">
              Trade with: <em>The bank, for half the amount of resources you offer</em>
            </div>
            <div class="resourcesToTrade">
              <div class="resourcesSlot">
                
              </div>
              <div class="resourcesSlot">
                
              </div>
              <div class="resourcesSlot">
                
              </div>
              For
              <div class="resourcesSlot">
                
              </div>
              <div class="resourcesSlot">
                
              </div>
              <div class="resourcesSlot">
                
              </div>
            </div>
          </div>
          <button class="tradeButton">
            TRADE (will be styled)
          </button>
        </div>
        <div ng-show="userAction === 'upgradeResource'" class="tradeEvent upgradeResource">
          <div class="tradeEventTitle">
            <h3>Upgrade resources</h3>
          </div>
          <div class="tradeWithRow">
            <button class="resourceButton">Lumber</button>
            <button class="resourceButton">Mithril</button>
            <button class="resourceButton">Treasure</button>
          </div>
        </div>
        <div ng-show="userAction === 'buildGenerator'" class="tradeEvent buildGenerator">
          <div class="tradeEventTitle">
            <h3>Build resource generator</h3>
          </div>
          <div class="tradeWithRow">
            <button class="resourceButton">Woodmill</button>
            <button class="resourceButton">Iron Forge</button>
            <button class="resourceButton">Gold Mine</button>
          </div>
        </div>
        <div ng-show="userAction === 'upgradeGenerator'" class="tradeEvent upgradeGenerator">
          <div class="tradeEventTitle">
            <h3>Upgrade resource generator</h3>
          </div>
          <div class="tradeWithRow">
            <button class="resourceButton">Lubermill</button>
            <button class="resourceButton">Mithril Forge</button>
            <button class="resourceButton">Treasure Mine</button>
          </div>
        </div>
      </div>
      <div class="active-event-container">
        <div class="wrapper">
          <img src="images/greyCard.png">
          <div class="title">Active Event Name</div>
          <div class="background"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="player-info-sheet" id="player">
          <div class="player-name-container">
            <div class="player-name">YOU</div>
          </div>
          <div class="tier1-resources-container">
            <div class="resource-info wood">
              <div class="resource-icon-wood">
              </div>
              <div class="resource-quantity">
                1
              </div>
            </div>
            <div class="resource-info iron">
              <div class="resource-icon-iron">
              </div>
              <div class="resource-quantity">
                1
              </div>
            </div>
            <div class="resource-info gold">
              <div class="resource-icon-gold">
              </div>
              <div class="resource-quantity">
                1
              </div>
            </div>
          </div>
          <div class="tier1-generator-container">
            <div class="generator-tier1">
              <div class="wood-mill">
                
              </div>
              <div class="generator-quantity wood-mill">
                1
              </div>
            </div>
          <div class="generator-tier1">
            <div class="iron-forge">
              
            </div>
              <div class="generator-quantity iron-forge">
                2
              </div>            
            </div>
          <div class="generator-tier1">
            <div class="gold-mine">
              
            </div>
              <div class="generator-quantity gold-mine">
                1
              </div>           
            </div>
          </div>
          <div class="tier2-resources-container">
            <div class="resource-info lumber">
              <div class="resource-icon-lumber">
              </div>
              <div class="resource-quantity">
                1
              </div>
            </div>
            <div class="resource-info mithril">
              <div class="resource-icon-mithril">
              </div>
              <div class="resource-quantity">
                1
              </div>
            </div>
            <div class="resource-info treasure">
              <div class="resource-icon-treasure">
              </div>
              <div class="resource-quantity">
                1
              </div>
            </div>
          </div>
          <div class="tier1-generator-container">
            <div class="generator-tier2">
              <div class="lumber-mill">
                
              </div>
              <div class="generator-quantity lumber-mill">
                0
              </div>
            </div>
            <div class="generator-tier2"> 
              <div class="mithril-forge">
                
              </div>
              <div class="generator-quantity mithril-forge">
                1
              </div>
            </div>
          <div class="generator-tier2">
            <div class="treasure-mine">
              
            </div>
              <div class="generator-quantity treasure-mine">
                0
              </div>
            </div>
          </div>
        </div>
        <div class="player-action-sheet">
          <img class = "image" src="images/greyEventsBox.png">
          <div class="mainOptions col-md-3">
            <div class="row text-center">
              <button ng-click="trade()">Trade</button>
            </div>
            <div class="row text-center"> 
              <button ng-click="build()">Build</button>
            </div>
            <div class="row text-center">
              <button ng-click="gather()">Gather</button>
            </div>
            <div class="row text-center">
              <button ng-click="destroy()">Destroy</button>
            </div>
          </div>
          <div class="otherOptions col-md-9">
            <div ng-show="userAction === 'trade'" class = "tradeOptions">
              <button ng-click="tradeOneOne()">1-1 Trade</button>
              <button ng-click="tradeGlobal()">Global Trade</button>
              <button ng-click="tradeBank()" class="button">Bank Trade</button>
            </div>
            <div ng-show="userAction === 'build'" class="buildOptions">
              <button ngClick="buildGenerator()">Build Generators</button>
              <button ngClick="upgradeResource()">Upgrade Resources</button>
              <button ngClick="upgradeGenerator()">Upgrade Generators</button>
            </div>
            <div ng-show="userAction === 'gather'" class="gatherOptions">
              Get all resources produced from all your generators!
            </div>
            <div ng-show="userAction === 'destroy'" class="destroyOptions">
              Demolish someone's resource generator!
            </div>
          </div>
        </div>
        <div class="event-queue-container">
          <div class="card card1">
            <img src="images/redCard.png">
            <div class="title">Black Swan</div>
          </div>
          <div class="card card2">
            <img src="images/blueCard.png">
            <div class="title">Good Harvest</div>
          </div>
          <div class="card card3">
            <img src="images/brownCard.png">
            <div class="title">Happy Tree Imps</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>