<html>
  <head>
    <title>Dwarves of Arcadia</title>
    <link rel="stylesheet" href="../styles/game.css">
  </head>
  <body>
    <div class="opponent-row row">
      <!-- not sure if this is supposed to be repeated by angular; i'll put one here as placeholder -->
      <div class="player-info-sheet" id="opponent-1">
        <div class="player-name-container">
          <div class="player-name">
            <label>{{players.one.name}}</div>
        </div>
        <div class="tier1-resources-container">
          <div class="resource-info">
            <div class="resource-icon-wood">
            </div>
            <div class="resource-quantity">
              <label>{{players.one.rsc.Wood}}</label>
            </div>
          </div>
          <div class="resource-info iron">
            <div class="resource-icon-iron">
            </div>
            <div class="resource-quantity">
              <label>{{players.one.rsc.Iron}}</label>
            </div>
          </div>
          <div class="resource-info gold">
            <div class="resource-icon-gold">
            </div>
            <div class="resource-quantity">
              <label>{{players.one.rsc.Gold}}</label>
            </div>
          </div>
        </div>
        <div class="tier1-generator-container">
          <div class="generator-tier1">
            <div class="wood-mill">
              
            </div>
            <div class="generator-quantity wood-mill">
              <label>{{players.one.rsc.Woodmill}}</label>
            </div>
          </div>
          <div class="generator-tier1">
            <div class="iron-forge">
              
            </div>
            <div class="generator-quantity iron-forge">
              <label>{{players.one.rsc.IronForge}}</label>
            </div>            
          </div>
          <div class="generator-tier1">
            <div class="gold-mine">
              
            </div>
            <div class="generator-quantity gold-mine">
              <label>{{players.one.rsc.GoldMine}}</label>
            </div>           
          </div>
        </div>

        <div class="tier2-resources-container">
          <div class="resource-info lumber">
            <div class="resource-icon-lumber">
            </div>
            <div class="resource-quantity">
              <label>{{players.one.rsc.Lumber}}</label>
            </div>
          </div>
          <div class="resource-info mithril">
            <div class="resource-icon-mithril">
            </div>
            <div class="resource-quantity">
              <label>{{players.one.rsc.Mithril}}</label>
            </div>
          </div>
          <div class="resource-info treasure">
            <div class="resource-icon-treasure">
            </div>
            <div class="resource-quantity">
              <label>{{players.one.rsc.Treasure}}</label>
            </div>
          </div>
        </div>
        <div class="tier1-generator-container">
          <div class="generator-tier2">
            <div class="lumber-mill">
              
            </div>
            <div class="generator-quantity lumber-mill">
              <label>{{players.one.rsc.LumberMill}}</label>
            </div>
          </div>
          <div class="generator-tier2"> 
            <div class="mithril-forge">
              
            </div>
            <div class="generator-quantity mithril-forge">
              <label>{{players.one.rsc.MithrilForge}}</label>
            </div>
          </div>
          <div class="generator-tier2">
            <div class="treasure-mine">
              
            </div>
            <div class="generator-quantity treasure-mine">
              <label>{{players.one.rsc.TreasureMine}}</label>
            </div>
          </div>
        </div>
      </div><div class="player-info-sheet" id="opponent-2">
        <div class="player-name-container">
          <div class="player-name">
            <label>{{players.two.name}}</label>
          </div>
        </div>
        <div class="tier1-resources-container">
          <div class="resource-info wood">
            <div class="resource-icon-wood">
            </div>

            <div class="resource-quantity">
              <label>{{players.two.rsc.Wood}}</label>
            </div>
          </div>
          <div class="resource-info iron">
            <div class="resource-icon-iron">
            </div>
            <div class="resource-quantity">
              <label>{{players.two.rsc.Iron}}</label>
            </div>
          </div>
          <div class="resource-info gold">
            <div class="resource-icon-gold">
            </div>
            <div class="resource-quantity">
              <label>{{players.two.rsc.Gold}}</label>
            </div>
          </div>
        </div>
        <div class="tier1-generator-container">
          <div class="generator-tier1">
            <div class="wood-mill">
              
            </div>
            <div class="generator-quantity wood-mill">
              <label>{{players.two.rsc.Woodmill}}</label>
            </div>
          </div>
          <div class="generator-tier1">
            <div class="iron-forge">
              
            </div>
            <div class="generator-quantity iron-forge">
              <label>{{players.two.rsc.IronForge}}</label>
            </div>            
          </div>
          <div class="generator-tier1">
            <div class="gold-mine">
              
            </div>
            <div class="generator-quantity gold-mine">
              <label>{{players.two.rsc.GoldMine}}</label>
            </div>           
          </div>
        </div>
        <div class="tier2-resources-container">
          <div class="resource-info lumber">
            <div class="resource-icon-lumber">
            </div>
            <div class="resource-quantity">
              <label>{{players.two.rsc.Lumber}}</label>
            </div>
          </div>
          <div class="resource-info mithril">
            <div class="resource-icon-mithril">
            </div>
            <div class="resource-quantity">
              <label>{{players.two.rsc.Mithril}}</label>
            </div>
          </div>
          <div class="resource-info treasure">
            <div class="resource-icon-treasure">
            </div>
            <div class="resource-quantity">
              <label>{{players.two.rsc.Treasure}}</label>
            </div>
          </div>
        </div>
        <div class="tier1-generator-container">
          <div class="generator-tier2">
            <div class="lumber-mill">
              
            </div>
            <div class="generator-quantity lumber-mill">
              <label>{{players.two.rsc.LumberMill}}</label>
            </div>
          </div>
          <div class="generator-tier2"> 
            <div class="mithril-forge">
              
            </div>
            <div class="generator-quantity mithril-forge">
              <label>{{players.two.rsc.MithrilForge}}</label>
            </div>
          </div>
          <div class="generator-tier2">
            <div class="treasure-mine">
              
            </div>
            <div class="generator-quantity treasure-mine">
              <label>{{players.two.rsc.TreasureMine}}</label>
            </div>
          </div>
        </div>
      </div><div class="player-info-sheet" id="opponent-3">
        <div class="player-name-container">
          <div class="player-name">
            <label>{{players.three.name}}</label>
          </div>
        </div>
        <div class="tier1-resources-container">
          <div class="resource-info wood">
            <div class="resource-icon-wood">
            </div>

            <div class="resource-quantity">
              <label>{{players.three.rsc.Wood}}</label>
            </div>
          </div>
          <div class="resource-info iron">
            <div class="resource-icon-iron">
            </div>
            <div class="resource-quantity">
              <label>{{players.three.rsc.Iron}}</label>
            </div>
          </div>
          <div class="resource-info gold">
            <div class="resource-icon-gold">
            </div>
            <div class="resource-quantity">
              <label>{{players.three.rsc.Gold}}</label>
            </div>
          </div>
        </div>
        <div class="tier1-generator-container">
          <div class="generator-tier1">
            <div class="wood-mill">
              
            </div>
            <div class="generator-quantity wood-mill">
              <label>{{players.three.rsc.Woodmill}}</label>
            </div>
          </div>
          <div class="generator-tier1">
            <div class="iron-forge">
              
            </div>
            <div class="generator-quantity iron-forge">
              <label>{{players.three.rsc.IronForge}}</label>
            </div>            
          </div>
          <div class="generator-tier1">
            <div class="gold-mine">
              
            </div>
            <div class="generator-quantity gold-mine">
              <label>{{players.three.rsc.GoldMine}}</label>
            </div>           
          </div>
        </div>
        <div class="tier2-resources-container">
          <div class="resource-info lumber">
            <div class="resource-icon-lumber">
            </div>
            <div class="resource-quantity">
              <label>{{players.three.rsc.Lumber}}</label>
            </div>
          </div>
          <div class="resource-info mithril">
            <div class="resource-icon-mithril">
            </div>
            <div class="resource-quantity">
              <label>{{players.three.rsc.Mithril}}</label>
            </div>
          </div>
          <div class="resource-info treasure">
            <div class="resource-icon-treasure">
            </div>
            <div class="resource-quantity">
              <label>{{players.three.rsc.Treasure}}</label>
            </div>
          </div>
        </div>
        <div class="tier1-generator-container">
          <div class="generator-tier2"> 
            <div class="lumber-mill">
              
            </div>
            <div class="generator-quantity lumber-mill">
              <label>{{players.three.rsc.Lumber}}</label>
            </div>
          </div>
          <div class="generator-tier2"> 
            <div class="mithril-forge">
              
            </div>
            <div class="generator-quantity mithril-forge">
              <label>{{players.three.rsc.MithrilForge}}</label>
            </div>
          </div>
          <div class="generator-tier2">
            <div class="treasure-mine">
              
            </div>
            <div class="generator-quantity treasure-mine">
              <label>{{players.three.rsc.TreasureMine}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="main-game-info-container">
<!--         <img class="main-game-info-background" src="images/newspaper.png"> -->
        <div class="background"></div>
        <div class="tradeEvents">
          <div ng-show="userAction === 'tradeOneOne'" class="tradeEvent tradeOneOnOne">
            <div class="playerActionTitle">
              <h3>Trade - 1 on 1</h3>
            </div>
            <div class="tradeWithRow">
              Trade with: 
              <button ng-click="getSellingToPlayer(playersOnGameSeq[1])" ng-init="trade.btn0.state == false" ng-model="btn0" ng-click="trade.btn0.state = !trade.btn0.state" ng-class="{true:'button-enabled',false:'button-disabled'}[trade.btn0.state === true]">{{playersOnGameSeq[1]}}</button>
              <button ng-click="getSellingToPlayer(playersOnGameSeq[2])" ng-init="trade.btn1.state == false" ng-model="btn1" ng-click="trade.btn1.state = !trade.btn1.state" ng-class="{true:'button-enabled',false:'button-disabled'}[trade.btn1.state === true]">{{playersOnGameSeq[2]}}</button>
              <button ng-click="getSellingToPlayer(playersOnGameSeq[3])" ng-init="trade.btn2.state == false" ng-model="btn2" ng-click="trade.btn2.state = !trade.btn2.state" ng-class="{true:'button-enabled',false:'button-disabled'}[trade.btn2.state === true]">{{playersOnGameSeq[3]}}</button>
            </div>
            <div class="resourcesToTrade">
              <button ng-click="showCalculator('Me', 'tradeOneOne')" class="resourcesToTradePlayer">
                {{playerTradeOffer}}
              </button>
              For
              <button ng-click="showCalculator(sellingToPlayer, 'tradeOneOne')" class="resourcesToTradeOpponent">
                {{opponentTradeOffer}}
              </button>
            </div>
          </div>
          <div ng-show="userAction === 'tradeGlobal'" class="tradeEvent tradeGlobal">
            <div class="playerActionTitle">
              <h3>Trade - Global</h3>
            </div>
            <div class="tradeWithRow">
              Trade with: <em>The fastest person to agree to your trade!</em>
            </div>
            <div class="resourcesToTrade">
             <button ng-click="showCalculator('Me', 'tradeGlobal')" class="resourcesToTradePlayer">
                {{playerTradeOffer}}
              </button>
              For
              <button ng-click="showCalculator('global', 'tradeGlobal')" class="resourcesToTradeOpponent">
                {{opponentTradeOffer}}
              </button>
            </div>
          </div>
          <div ng-show="userAction === 'tradeBank'" class="tradeEvent tradeBank">
            <div class="playerActionTitle">
              <h3>Trade - Bank</h3>
            </div>
            <div class="tradeWithRow">
              Trade with: <em>The bank, for half the amount of resources you offer</em>
            </div>
            <div class="resourcesToTrade">
              <button ng-click="showCalculator('Me', 'tradeBank')" class="resourcesToTradePlayer">
                {{playerTradeOffer}}
              </button>
              For
              <button ng-click="showCalculator('bank', 'tradeBank')" class="resourcesToTradeOpponent">
                {{opponentTradeOffer}}
              </button>
            </div>
          </div>
          <button ng-show="userAction === 'tradeBank' || userAction === 'tradeGlobal' || userAction === 'tradeOneOne'" ng-click="tradeClicked" class="tradeButton">
            TRADE (will be styled)
          </button>
        </div>
        <div class="tradeEvents passive">
          <div class="tradeEvent tradeOneOnOne passive">
            <div class="playerActionTitle">
              <h3>Trade - 1 on 1</h3>
            </div>
            <div class="tradeWithRow">
              Trade with: 

            </div>
            <div class="resourcesToTrade">
              <button class="resourcesToTradePlayer">
                {{playerTradeOffer}}
              </button>
              For
              <button class="resourcesToTradeOpponent">
                {{opponentTradeOffer}}
              </button>
            </div>
          </div>
          <div class="acceptOrRejectButtons">
            <button>
              Accept Trade
            </button> <br> <br>
            <button>
              Reject Trade
            </button>
          </div>
        </div>
        <div ng-show="userAction === 'upgradeResource'" class="buildEvent upgradeResource">
          <div class="playerActionTitle">
            <h3>Upgrade resources</h3>
          </div>
          <div class="buildList">
            <button class="resourceButton" ng-click="upgradeResource('Lumber')">Lumber <img src="../images/lumber-icon.png" alt="" width="26" height"26"> = 2x Wood <img src="../images/wood-icon.png" alt="" width="26" height"26"></button><br>
            <button class="resourceButton" ng-click="upgradeResource('Mithril')">Mithril <img src="../images/mithril-icon.png" alt="" width="26" height"26"> = 2x Iron <img src="../images/iron-icon.png" alt="" width="26" height"26"></button><br>
            <button class="resourceButton" ng-click="upgradeResource('Treasure')">Treasure <img src="../images/treasure-icon.png" alt="" width="30" height"30"> = 2x Gold <img src="../images/gold-icon.png" alt="" width="26" height"26"></button><br>
          </div>
        </div>
        <div ng-show="userAction === 'buildGenerator'" class="buildEvent buildGenerator">
          <div class="playerActionTitle">
            <h3>Build resource generator</h3>
          </div>
          <div class="buildList">
            <button class="resourceButton" ng-click="buildGenerator('Woodmill')">Woodmill <img src="../images/wood-mill-icon.png" alt="" width="36" height"36"> = 3x Wood <img src="../images/wood-icon.png" alt="" width="24" height"24">, 1x Iron <img src="../images/iron-icon.png" alt="" width="24" height"24">, 1x Gold <img src="../images/gold-icon.png" alt="" width="24" height"24"></button><br>
            <button class="resourceButton" ng-click="buildGenerator('IronForge')">Iron Forge <img src="../images/iron-forge-icon.png" alt="" width="36" height"36"> = 1x Wood <img src="../images/wood-icon.png" alt="" width="24" height"24">, 3x Iron <img src="../images/iron-icon.png" alt="" width="24" height"24">, 1x Gold <img src="../images/gold-icon.png" alt="" width="24" height"24"></button>
            <button class="resourceButton" ng-click="buildGenerator('GoldMine')">Gold Mine <img src="../images/gold-mine-icon.png" alt="" width="36" height"36"> = 1x Wood <img src="../images/wood-icon.png" alt="" width="24" height"24">, 1x Iron <img src="../images/iron-icon.png" alt="" width="24" height"24">, 3x Gold <img src="../images/gold-icon.png" alt="" width="24" height"24"></button>
          </div>
        </div>
        <div ng-show="userAction === 'upgradeGenerator'" class="buildEvent upgradeGenerator">
          <div class="playerActionTitle">
            <h3>Upgrade resource generator</h3>
          </div>
          <div class="tradeWithRow">
            <button class="resourceButton" ng-click="upgradeGenerator('Lumbermill')">Lumbermill <img src="../images/lumber-mill-icon.png" alt="" width="30" height"30">= 1 Woodmill <img src="../images/wood-mill-icon.png" alt="" width="28" height"28">, 1 Lumber <img src="../images/lumber-icon.png" alt="" width="24" height"24">, 1 Gold <img src="../images/gold-icon.png" alt="" width="24" height"24">, 1 Iron<img src="../images/iron-icon.png" alt="" width="24" height"24"></button><br>
            <button class="resourceButton" ng-click="upgradeGenerator('MithrilForge')">Mithril Forge <img src="../images/mithril-forge-icon.png" alt="" width="30" height"30">= 1 Iron Forge <img src="../images/iron-forge-icon.png" alt="" width="28" height"28">, 1 Mithril <img src="../images/mithril-icon.png" alt="" width="24" height"24">, 1 Wood <img src="../images/wood-icon.png" alt="" width="24" height"24">, 1 Gold <img src="../images/gold-icon.png" alt="" width="24" height"24"></button><br>
            <button class="resourceButton" ng-click="upgradeGenerator('TreasureMine')">Treasure Mine <img src="../images/treasure-mine-icon.png" alt="" width="30" height"36">= 1 Gold Mine <img src="../images/gold-mine-icon.png" alt="" width="28" height"28">, 1 Treasure <img src="../images/treasure-icon.png" alt="" width="24" height"24">, 1 Wood <img src="../images/wood-icon.png" alt="" width="24" height"24">, 1 Iron <img src="../images/iron-icon.png" alt="" width="24" height"24"></button><br>
          </div>
        </div>
        <div ng-show="userAction === 'showDestroy'" class="destroyEvent showDestroy">
          <div class="playerActionTitle">
            <h3>Destroy{{playersNames[destroyNumber]}}</h3>
          </div>
          <div class="destroyList">
            <div class="generators">
              <button ng-click="destroyResourceButton(0)" class="destroyResourceButton">Woodmill <img src="../images/wood-mill-icon.png" alt="" width="26" height"26"></button><br>
              <button ng-click="destroyResourceButton(1)" class="destroyResourceButton">Iron Forge <img src="../images/iron-forge-icon.png" alt="" width="26" height"26"></button><br>
              <button ng-click="destroyResourceButton(2)" class="destroyResourceButton">Gold Mine <img src="../images/gold-mine-icon.png" alt="" width="26" height"26"></button><br>
            </div>
            <div class="generators">
              <button ng-click="destroyResourceButton(3)" class="destroyResourceButton">Lumbermill <img src="../images/lumber-mill-icon.png" alt="" width="26" height"26"></button><br>
              <button ng-click="destroyResourceButton(4)" class="destroyResourceButton">Mithril Forge <img src="../images/mithril-forge-icon.png" alt="" width="26" height"26"></button><br>
              <button ng-click="destroyResourceButton(5)" class="destroyResourceButton">Treasure Mine <img src="../images/treasure-mine-icon.png" alt="" width="26" height"26"></button><br>
            </div>
          </div>
          <div class="description">{{destroyDescription}}</div>
          <button ng-click="destroyGenerator(toDestroyGenerator,toDestroyPlayer)" class="confirm">Confirm</button>
        </div>
      </div>
      <div class="active-event-container">
        <div class="wrapper">
          <img src="images/greyCard.png">
          <div class="title">{{cards[1].name}}</div>
          <div class="background"></div>
          <div ng-show="showEventDescription" class="description">{{cardDescription}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="player-info-sheet" id="player">
          <div class="player-name-container">
            <div class="player-name">
              <label>YOU -{{players.you.name}}</label>
            </div>
          </div>
          <div class="tier1-resources-container">
            <div class="resource-info wood">
              <div class="resource-icon-wood">
              </div>
              <div class="resource-quantity">
                <label>{{players.you.rsc.Wood}}</label>
              </div>
            </div>
            <div class="resource-info iron">
              <div class="resource-icon-iron">
              </div>
              <div class="resource-quantity">
                <label>{{players.you.rsc.Iron}}</label>
              </div>
            </div>
            <div class="resource-info gold">
              <div class="resource-icon-gold">
              </div>
              <div class="resource-quantity">
                <label>{{players.you.rsc.Gold}}</label>
              </div>
            </div>
          </div>
          <div class="tier1-generator-container">
            <div class="generator-tier1">
              <div class="wood-mill">
                
              </div>
              <div class="generator-quantity wood-mill">
                <label>{{players.you.rsc.Woodmill}}</label>
              </div>
            </div>
          <div class="generator-tier1">
            <div class="iron-forge">
              
            </div>
              <div class="generator-quantity iron-forge">
                <label>{{players.you.rsc.IronForge}}</label>
              </div>            
            </div>
          <div class="generator-tier1">
            <div class="gold-mine">
              
            </div>
              <div class="generator-quantity gold-mine">
                <label>{{players.you.rsc.GoldMine}}</label>
              </div>           
            </div>
          </div>
          <div class="tier2-resources-container">
            <div class="resource-info lumber">
              <div class="resource-icon-lumber">
              </div>
              <div class="resource-quantity">
                <label>{{players.you.rsc.Lumber}}</label>
              </div>
            </div>
            <div class="resource-info mithril">
              <div class="resource-icon-mithril">
              </div>
              <div class="resource-quantity">
                <label>{{players.you.rsc.Mithril}}</label>
              </div>
            </div>
            <div class="resource-info treasure">
              <div class="resource-icon-treasure">
              </div>
              <div class="resource-quantity">
                <label>{{players.you.rsc.Treasure}}</label>
              </div>
            </div>
          </div>
          <div class="tier1-generator-container">
            <div class="generator-tier2">
              <div class="lumber-mill">
                
              </div>
              <div class="generator-quantity lumber-mill">
                <label>{{players.you.rsc.LumberMill}}</label>
              </div>
            </div>
            <div class="generator-tier2"> 
              <div class="mithril-forge">
                
              </div>
              <div class="generator-quantity mithril-forge">
                <label>{{players.you.rsc.MithrilForge}}</label>
              </div>
            </div>
          <div class="generator-tier2">
            <div class="treasure-mine">
              
            </div>
              <div class="generator-quantity treasure-mine">
                <label>{{players.you.rsc.TreasureMine}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="player-action-sheet">
<!--           <div class="background"></div>-->          
          <img class = "image" src="images/greyEventsBox.png">
          <div class="mainOptions">
            <div class="text-center">
              <button ng-click="trade()">Trade</button>
            </div>
            <div class="text-center"> 
              <button ng-click="build()">Build</button>
            </div>
            <div class="text-center">
              <button ng-click="gather()">Gather</button>
            </div>
            <div class="text-center">
              <button ng-click="destroy()">Destroy</button>
            </div>
          </div>
          <div class="otherOptions">
            <div ng-show="userAction === 'trade'" class = "tradeOptions">
              <button ng-click="tradeOneOneView()">1-1 Trade</button>
              <button ng-click="tradeGlobalView()">Global Trade</button>
              <button ng-click="tradeBankView()" class="button">Bank Trade</button>
            </div>
            <div ng-show="userAction === 'build'" class="buildOptions">
              <button ng-click="buildGeneratorView()">Build Generators</button>
              <button ng-click="upgradeResourceView()">Upgrade Resources</button>
              <button ng-click="upgradeGeneratorView()">Upgrade Generators</button>
            </div>
            <div ng-show="userAction === 'gather'" class="gatherOptions">
              Get all resources produced from all your generators!
            </div>
            <div ng-show="userAction === 'destroy'" class="destroyOptions">
              <button ng-click="showDestroy(1)">Player1</button>
              <button ng-click="showDestroy(2)">Player2</button>
              <button ng-click="showDestroy(3)">Player3</button>
            </div>
          </div>
        </div>
        <div class="event-queue-container">
          <div class="background"></div>
          <div ng-mouseover="hoverCard(1)" ng-mouseleave="unhoverCard()" class="card card1">
            <img ng-src="images/{{cards[1].cardColor}}Card.png">
            <div class="title">{{cards[1].name}}</div>
          </div>
          <div ng-mouseover="hoverCard(2)" ng-mouseleave="unhoverCard()" class="card card2">
            <img ng-src="images/{{cards[2].cardColor}}Card.png">
            <div class="title">{{cards[2].name}}</div>
          </div>
          <div ng-mouseover="hoverCard(3)" ng-mouseleave="unhoverCard()" class="card card3">
            <img ng-src="images/{{cards[3].cardColor}}Card.png">
            <div class="title">{{cards[3].name}}</div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="userAction=='showCalculator'" class="resource-calculator-modal">
      <div class="resource-calculator-container">
        <table class="resource-calculator">
          <tr>
            <td><img src="../images/wood-icon.png" alt=""> <input ng-model="totalResources.Wood.amount" type="text" class="resource-calculator-qty-input">&nbsp</td>
            <td><img src="../images/iron-icon.png" alt=""> <input ng-model="totalResources.Iron.amount" type="text" class="resource-calculator-qty-input">&nbsp</td>
            <td><img src="../images/gold-icon.png" alt=""> <input ng-model="totalResources.Gold.amount" type="text" class="resource-calculator-qty-input">&nbsp</td>
          </tr>
          <tr>
            <td><img src="../images/wood-mill-icon.png" alt=""> <input ng-model="totalResources.Woodmill.amount" type="text" class="resource-calculator-qty-input">&nbsp</td>
            <td><img src="../images/iron-forge-icon.png" alt=""> <input ng-model="totalResources.IronForge.amount" type="text" class="resource-calculator-qty-input">&nbsp</td>       
            <td><img src="../images/gold-mine-icon.png" alt=""> <input ng-model="totalResources.GoldMine.amount" type="text" class="resource-calculator-qty-input">&nbsp</td>
          </tr>
          <tr>
            <td><img src="../images/lumber-icon.png" alt=""> <input ng-model="totalResources.Lumber.amount" type="text" class="resource-calculator-qty-input">&nbsp</td>
            <td><img src="../images/mithril-icon.png" alt=""> <input ng-model="totalResources.Mithril.amount" type="text" class="resource-calculator-qty-input">&nbsp</td>       
            <td><img src="../images/treasure-icon.png" alt=""> <input ng-model="totalResources.Treasure.amount" type="text" class="resource-calculator-qty-input">&nbsp</td>
          </tr>
          <tr>
            <td><img src="../images/lumber-mill-icon.png" alt=""> <input ng-model="totalResources.Lumbermill.amount" type="text" class="resource-calculator-qty-input">&nbsp</td>
            <td><img src="../images/mithril-forge-icon.png" alt=""> <input ng-model="totalResources.MithrilForge.amount" type="text" class="resource-calculator-qty-input">&nbsp</td>       
            <td><img src="../images/treasure-mine-icon.png" alt=""> <input ng-model="totalResources.TreasureMine.amount" type="text" class="resource-calculator-qty-input">&nbsp</td>
          </tr>
        </table>
        <button ng-click="closeCalculator(currentTradeType)" class="resource-calculator-done-button button">
          Done
        </button>
      </div>
    </div>
  </body>
</html>