<html>
  <head>
    <title>Dwarves of Arcadia</title>
    <link rel="stylesheet" href="styles/game.css">
  </head>
  <body>
    <div class="opponent-row">
      <!-- not sure if this is supposed to be repeated by angular; i'll put one here as placeholder -->
      <div class="player-info-sheet" id="opponent-n">

      </div>
      <div class="main-game-info-container">
        <div class="main-game-info">
          
        </div>
        <div class="event-container">
          <div class="active-event-container">
            
          </div>
          <div class="event-queue-container">
            
          </div>
        </div>
      </div>
      <div class="player-info-container">
        <div class="player-info-sheet" id="player">
          
        </div>
        <div class="player-action-sheet">
          
        </div>
      </div>
    </div>
  </body>
</html>