<html>
  <head>
    <title>Dwarves of Arcadia Lobby</title>
    <link rel="stylesheet" href="styles/lobby.css">
  </head>
  <body>
    <div class="foreground_container">
      <h1 class="title">Drwarves of Arcadia</h1>
      <form class="enter_name">
          <input type="text" ng-model="name" placeholder="Name">
          <input type="submit" value="Join">
      </form>
      <div class="players_list">
        <h4 class="players_list_title">Players list:</h4>
        <div ng-repeat="name in names">{{name}}</div>
      </div>
  </body>
</html>