<html>
  <head>
    <title>Dwarves of Arcadia Lobby</title>
    <link rel="stylesheet" href="styles/lobby.css">
  </head>
  <body>
    <div class="foreground_container">
      <div class="title"><img src="images/gameTitle.png"></div>
      <form class="enter_name">
          <input type="text" ng-model="name" placeholder="Name">
          <input type="submit" ng-click="join()" value="Join">
          <label ng-show="loginError" ng-model="loginError">{{loginError}}</label>
      </form>
      <div class="players_list">
        <h4 class="players_list_title">Players list:</h4>
        <div class="row" ng-repeat="player in players"> 
          <label type="text">{{player}}</label>
        </div>
      </div>
  </body>
</html>